# Set target
CONFIG_IDF_TARGET="esp32c6"

# Set the target size
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

# Configurate the watch dog timer
CONFIG_ESP_SYSTEM_WDT=n
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n