# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
hardware/**/~*.lck

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files

hardware/minino-backups/

# Visual Studio config files
.vscode/

# macOS folder attributes
/**/.DS_Store

# Firmware binaries
/**/build/
/**/build-ota/
/**/build-noota/
/**/managed_components/
/**/minino-*.zip

# IDF sdkconfig
/**/sdkconfig
/**/sdkconfig.old
/**/dependencies.lock

# CPL file in csv
minino-all-pos.csv

# Gerber
/**/MININO_GERBER
/firmware/build-bSides
/firmware/build-bugCon
/firmware/build-dragonJar
/firmware/build-ekoParty
/firmware/build-minino
/firmware/minino-release-1.1.7.0
/firmware/minino-release-1.1.8.0
