# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
hardware/**/~*.lck

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files

hardware/minino-backups/

# Visual Studio config files
.vscode/

# macOS folder attributes
/**/.DS_Store

# Firmware binaries
/**/build/*
/**/managed_components/
/**/build_files/
/**/build_files.tgz
/**/build_files.zip

# IDF sdkconfig
/**/sdkconfig
/**/sdkconfig.old
/**/dependencies.lock

# CPL file in csv
minino-all-pos.csv

# Gerber
/**/MININO_GERBER
